/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 #wrapper {
   animation: fadein 1s;
 }

 @keyframes fadein {
   from { opacity: 0;}
   to { opacity: 1; }
 }

 @keyframes flashing {
   0% {
     color: #2bffd1;
   }
   25% {
     color: #ff51c5;
   }
   50% {
     color: #05fff2;
   }
   75% {color: #844c71;
   }
   100% {color: #2bffd1;
   }
 }


.teal-text.text-lighten-2{
  color: #fff !important;
}

.teal-text.text-lighten-3 a{
  color: #fff !important;
  -webkit-text-stroke: 1px #070707;
  text-stroke: 1px #070707;
}

.parallax {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

a {
  color: #f2f2f2;

}

.container {
  background-color: #f2f2f2;
}

.footercontainer {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  background-color: #f2f2f2;
}

.copyrightcontainer {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  background-color: #e3e3e3;
}

#divider {
  width: 100%;
  height: 1px;
  background-color: #070707;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #f2f2f2;
}


.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: #070707;
}


.completed {
  color: #17682a !important;
}

.inProgress {
  color: #d60404 !important;
}
.tabs.tabs-transparent .indicator {
  background-color: #070707;
}

#mobile-demo {
  background-color: rgba(255, 255, 255, 0.8);
}

.brand-logo a {
  margin: auto;
  width: 50%;
}

.tab {
  width: 50%;
}

nav ul a,
nav .brand-logo {
  color: #070707;
  margin: 0px;
  float: none;
  background-color: rgba(255, 255, 255, 0.0);
}

nav .brand-logo:hover {
  animation: jiggle 1s ease-in;
  animation-iteration-count: infinite;
}


@keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(1.1, 0.9)
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }
}

nav {
  background-color: #f2f2f2;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

.page-footer{

    background-color: #f2f2f2;
    color: #070707;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.footer-copyright {
  color: #fff;
  background-color: #4c4d4f;
}

.white-text {
  color: #070707 !important;
}

.grey-text.text-lighten-4 {
  color: #070707 !important;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #070707;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

#animated {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    color: #070707;
    font-size: 30px;
}

#animated:first-of-type {
    animation: showup 10s 1;
    animation-fill-mode: forwards;
}

#animated:last-of-type {
    width:0px;
    animation: reveal 10s 1;
    animation-fill-mode: forwards;
}


@keyframes showup {
        0% {opacity:0;}
        20% {opacity:1;}
        80% {opacity:1;}
        100% {opacity:1}
}

@keyframes slidein {
        0% { margin-left:400px; }
        20% { margin-left:400px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}

@keyframes reveal {
        0% {opacity:0;width:0px;}
        20% {opacity:1;width:0px;}
        30% {width:730px;}
        80% {opacity:1;}
        100% {opacity:1;width:730px;}
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


@media only screen and (max-width : 900px) {
  #index-banner .section {
    top: 0;
  }


#TODOTheme {
  display: none;
}

#footerBio {
  display: none;
}

#intro {
  width: 100%;
  float: none;
  margin-left: 0%;
  top: 9%;
  padding: 0px;
  border-radius: 0px;

}

#about {
  float: none;
  padding: 10px;
}

#normalContainer {
  overflow: scroll;
  width: 100%;
  height: 50%;
}

#javaScript {
  margin: auto;
  width: 50%;
 }

#javaScript:hover {
  font-size: 15px;
}

#webDesign {
  width: 50%;
 }

#webDesign:hover {
  font-size: 15px;
 }

#python {
  margin: auto;
  width: 50%;
 }

#python:hover {
  font-size: 15px;
}

#projects {
  width: 50%;
 }

#projects:hover {
  font-size: 15px;
 }

nav {
  width: 100%;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}



@media only screen and (max-width : 500px) {
  #index-banner .section {
    top: 0;
  }


#TODOTheme {
  display: none;
}

#footerBio {
  display: none;
}
#about {
  width: 100%;
  float: none;
}
#javaScript {
  margin: auto;
  width: 50%;
 }

#javaScript:hover {
  font-size: 15px;
}

#webDesign {
  width: 50%;
 }

#webDesign:hover {
  font-size: 15px;
 }

#python {
  margin: auto;
  width: 50%;
 }

#python:hover {
  font-size: 15px;
}

#projects {
  width: 50%;
 }

#projects:hover {
  font-size: 15px;
 }

nav {
  width: 100%;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.page-footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #070707;
    text-align: center;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
    height: 100%;
}

.card-content.white-text {
  overflow: hidden;
}
#normalContainer {
  position: relative;
}
@keyframes slidein {
        0% { margin-left:200px; }
        20% { margin-left:200px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}

@keyframes reveal {
        0% {opacity:0;width:0px;}
        80% {opacity:1;}
        100% {opacity:1;width:250px;}
}
}

@media only screen and (max-width : 360px) {
  #animated {
    font-size: 10px;
}
@keyframes slidein {
        0% { margin-left:200px; }
        20% { margin-left:200px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}

@keyframes reveal {
        0% {opacity:0;width:0px;}
        80% {opacity:1;}
        100% {opacity:1;width:200px;}
}
}

@media only screen and (max-width : 768px) {
  #animated {
    font-size: 20px;
}
@keyframes slidein {
        0% { margin-left:200px; }
        20% { margin-left:200px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}

@keyframes reveal {
        0% {opacity:0;width:0px;}
        80% {opacity:1;}
        100% {opacity:1;width:500px;}
}
}

@media only screen and (max-width : 1024px) {
  #animated {
    font-size: 24px;
}
@keyframes slidein {
        0% { margin-left:200px; }
        20% { margin-left:200px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}

@keyframes reveal {
        0% {opacity:0;width:0px;}
        80% {opacity:1;}
        100% {opacity:1;width:600px;}
}
}

@media only screen and (max-width : 414px) {
  #animated {
    font-size: 10px;
}
@keyframes slidein {
        0% { margin-left:200px; }
        20% { margin-left:200px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}
@keyframes reveal {
        0% {opacity:0;width:0px;}
        80% {opacity:1;}
        100% {opacity:1;width:250px;}
}
}

@media only screen and (max-width : 320px) {
  #animated {
    font-size: 10px;
}
@keyframes slidein {
        0% { margin-left:200px; }
        20% { margin-left:200px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}
@keyframes reveal {
        0% {opacity:0;width:0px;}
        80% {opacity:1;}
        100% {opacity:1;width:200px;}
}
}
