@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe');


#wrapper {
  animation: fadein 1s;
  height: 100%;
}

.teal-text.text-lighten-2 {
  color: #e786e5  !important;
  -webkit-text-stroke: 1px #070707;
  text-stroke: 1px #070707;
}

h1 a {
  color: #e786e5  !important;
  -webkit-text-stroke: 1px #070707;
  text-stroke: 1px #070707;
}

#femoLogo {
  width: 125px;
  height: 125px;
  position: absolute;
  margin-top: -50px;
  z-index: 10;
}

#index-banner {
  animation: slideInLeft 1s 1;
  /* animation-timing-function: cubic-bezier(.49,.3,0,1.3); */
}

#nonIndexBody {
  background-image: url("miami.jpg");
}

#headerLink {
  margin-left: 125px;
  font-size: 25px;
}

#firstSection {
  opacity: 0;
  animation: slideInRight 1s 1;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.49,.3,0,1.3);
}

#secondBanner {
  opacity: 0;
  animation: slideInLeft 1s 1;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  /* animation-timing-function: cubic-bezier(.49,.3,0,1.3); */
}

#secondSection {
  opacity: 0;
  animation: slideInRight 1s 1;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.49,.3,0,1.3);
}

#thirdBanner {
  opacity: 0;
  animation: slideInLeft 1s 1;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
  /* animation-timing-function: cubic-bezier(.49,.3,0,1.3); */
}


.container {
   background-color: #3d3d3d;
   display: flex;
   justify-content: center;
   overflow: visible;
   color: #c7fff5;
 }

 h5 {
   color: #e786e5 !important;
   -webkit-text-stroke: 0.5px #070707;
   text-stroke: 0.2px #070707;
 }

 .cyanH5 a {
   color: #47ffde !important;
   background-color: rgba(0, 255, 203, 0) !important;
 }

 @keyframes slideInLeft {
   0% {
     opacity: 0;
     transform: translateX(-100%);
   }
   100% {
     opacity: 1;
     transform: translateX(0%);
   }
 }

 @keyframes slideInRight {
   0% {
     opacity: 0;
     transform: translateX(100%);
   }
   100% {
     opacity: 1;
     transform: translateX(0%);
   }
 }

 @keyframes slideInTop {
   0% {
     opacity: 0;
     transform: translateY(-100%);
   }
   100% {
     opacity: 1;
     transform: translateY(0%);
   }
 }

 @keyframes slideInBottom {
   0% {
     opacity: 0;
     transform: translateY(100%);
   }
   100% {
     opacity: 1;
     transform: translateY(0%);
   }
 }

 @keyframes slideInLeftInProgress {
   0% {
     opacity: 0;
     transform: translateX(-200%);
   }
   100% {
     opacity: 1;
     transform: translateX(0%);
   }
 }

 nav {
   animation: slideInTop 1s 1;
   animation-fill-mode: forwards;
 }

.blue {
  background-color: #3d3d3d; !important;
}

.copyrightcontainer {
   margin: 0 auto;
   max-width: 1280px;
   width: 90%;
   background-color: #3d3d3d;
 }

a {
  color: #f2f2f2;

}

body {
  background-color: #3d3d3d;
  animation: fadein 0s 1;
}


.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: #070707;
  overflow: hidden;
}


.completed {
  color: #00d603 !important;
}

.inProgress {
  color: #ea0202 !important;
}
.tabs.tabs-transparent .indicator {
  background-color: rgba(0, 255, 203, 1);
  box-shadow: 0 0 3px 1px rgba(0, 255, 203, 0.5);
  overflow: hidden;

}

#mobile-demo {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

#mobile-demo a {
  color: #e786e5;
}

#nav-mobile li a {
  color: #e786e5;
}

.brand-logo a {
  margin: auto;
  width: 50%;
}

.linkContainer {
  display: block;
  width: 100%;
  height: 100%;
  color: #070707;
}

.linkContainer:hover {
  -webkit-text-stroke: 0.5px #070707;
  text-stroke: 0.5px #070707;
  color: #070707;
}

.nonIndex {
  overflow: hidden;
}


#tabsContainer {
  opacity: 0;
  padding: 10px;
  display: block;
  position: relative;
  overflow: hidden;
  height: 20%;
  animation: slideInRight 1s 1;
  animation-timing-function: cubic-bezier(.49,.3,0,1.3);
  animation-fill-mode: forwards;
  overflow: hidden;
}

#projectsContainer {
  opacity: 0;
  padding: 10px;
  display: block;
  position: relative;
  overflow: hidden;
  height: 20%;
  animation: fadein 1s 1;
  animation-fill-mode: forwards;
  clear: both;
}

#inProgressTabsContainer {
  opacity: 0;
  display: none;
  padding: 10px;
  animation: fadein 1s;
  animation: slideInLeftInProgress 0.5s 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.49,.3,0,1.2);
  margin-bottom: 100px;
  overflow: hidden;
}

 #javaScript a, #python a, #webDesign a, #projects a {
   color: #070707;
   display:block;
   width: 100%;
   text-align: center;
   margin: 0 auto;
 }
#javaScript a:hover, #python a:hover, #webDesign a:hover, #projects a:hover {
  color: #fff;
 -webkit-text-stroke: 0.5px #070707;
  text-stroke: 0.5px #070707;
  display: block;
  width: 100%;
}

.placeholder {
  opacity: 0;
}

#javaScript:hover, #webDesign:hover, #python:hover, #projects:hover {
  transition-timing-function: ease-out;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  color: #fff;
  font-size: 40px;
  display: block;
  animation: fadein 0.5s;
  animation-fill-mode: forwards;
}

#javaScript:active, #webDesign:active, #python:active, #projects:active {
  animation: clickFlash 1s cubic-bezier(.76,-0.02,.19,1.95);
}

#javaScript, #webDesign, #python, #projects {
  margin: auto;
  width: 20%;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  background-color:rgba(0, 0, 0, 0.6);
  padding: 40px;
  display: block;
  animation: fadeout 0.5s;
  color: #fff;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

#webDesign, #python {
  opacity: 0;
  animation: slideInRight 1s 1;
  animation-fill-mode: forwards;
}

#javaScript, #projects {
  opacity: 0;
  animation: slideInLeft 1s 1;
  animation-fill-mode: forwards;
}

#javaScript:hover {
  background-image: url("interactive.jpg");
  background-position: -100px -50px;
  background-size: 600px;
}

@keyframes fadein {
  from { opacity: 0;}
  to { opacity: 1; }
}

@keyframes flashing {
  0% {
    background-color: #3d3d3d;
    box-shadow: 0 0 3px 1px rgba(61, 61, 61, 0.5);
  }
  30% {
    background-color: rgba(255, 25, 212, 1);
    box-shadow: 0 0 3px 1px rgba(255, 25, 212, 0.5);
  }
  55% {
    background-color: #3d3d3d;
    box-shadow: 0 0 3px 1px rgba(61, 61, 61, 0.5);
  }
  70% {
    background-color: rgba(0, 255, 203, 1);
    box-shadow: 0 0 3px 1px rgba(0, 255, 203, 0.5);
  }
  100% {
    background-color: #3d3d3d;
    box-shadow: 0 0 3px 1px rgba(61, 61, 61, 0.5);
  }
}

@keyframes neon {
  0% {
    box-shadow: 0 0 3px 1px rgba(255, 25, 212, 0.5);
  }
  50% {
    box-shadow: 0 0 3px 1px rgba(0, 255, 203, 0.5);
  }
  100 % {
    box-shadow: 0 0 3px 1px rgba(255, 25, 212, 0.5);
  }
}

@keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(1.1, 0.9)
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }
}

@keyframes clickFlash {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

#webDesign:hover {
  background-image: url("florence.jpg");
  background-position: -80px -160px;
 }

#python:hover {
  background-image: url("mrpython.png");
  background-position: 0px -160px;
}


#projects:hover {
  background-image: url("japan.jpg");
  background-size: 500px;
 }

.tab {
  width: 50%;
}

.cardlink {
  bottom: 50px;
}

nav ul a,
nav .brand-logo {
  color: #070707;
  margin: 0px;
  float: none;
  background-color: rgba(255, 255, 255, 0.0);
}

iframe {
  overflow: hidden;
}

nav {
  background-color: #3d3d3d;
}

nav a {
  color: #e786e5;
}

.page-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3d3d3d;
  color: #e786e5;
  text-align: center;
  box-shadow: 0 0 6px 2px rgba(0, 255, 209, 0.3);
  margin-bottom: 0%;
  animation: slideInBottom 1s 1;
  animation-fill-mode: forwards;
}

#indexFooter {
  position: static;
}

.footercontainer {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.footer-copyright {
  color: #47ffde !important;
}

.footer-copyright a {
  color: #e786e5 !important ;
}

.white-text {
  color: #47ffde !important;
}

.grey-text.text-lighten-4 {
  color: #47ffde !important;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #e786e5;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

nav.nav-extended {
  height: inherit;
}


div.item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background-color: #e786e5;
    box-shadow: 0 0 6px 2px rgba(0, 255, 209, 0.3);
    text-align: center;
}

div.item * {
    box-sizing: border-box;
}

div.item img {
    max-width: 100%;
    vertical-align: top;
    height: 210px;
}

div.item i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: #070707;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
}

div.item a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    font-size: 35px;
    -webkit-text-stroke: 0.5px #070707;
    text-stroke: 0.5px #070707;
    color: #c7fff5;
}

  div.item a:hover {
  transform: translateY(20px;)
}

div.item.blue {
    background-color: #000 !important;
    box-shadow: 0 0 6px 2px rgba(0, 255, 209, 0.3);

}
div.item.blue i {
  background-color: #e786e5 !important;
  box-shadow: 0 0 6px 2px rgba(0, 255, 209, 0.3);
}

div.item:hover img {
    opacity: 0.3;
    filter: grayscale(100%);
}

div.item * {
    -webkit-transition: all 400ms cubic-bezier(.76,-0.02,.19,1.95);
    transition:         all 400ms cubic-bezier(.76,-0.02,.19,1.95);
}

div.item i {
  transform: translate(-50%, -50%) scale(0);
}
div.item:hover i {
    transform: translate(-50%, -50%) scale(1);
}



@media only screen and (max-width : 996px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #femoLogo {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #index-banner .section {
    top: 10%;
  }

@media only screen and (max-width : 1180px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #femoLogo {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #index-banner .section {
    top: 10%;
  }

@media only screen and (max-width : 1280px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #femoLogo {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 1600px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #femoLogo {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #index-banner .section {
    top: 10%;
  }
}



@media only screen and (max-width : 900px) {
  #index-banner .section {
    top: 0;
  }


#TODOTheme {
  display: none;
}


#footerBio {
  display: none;
}

#femoLogo {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#headerLink {
  margin: 0;
}


#normalContainer {
  overflow: scroll;
  width: 100%;
  height: 50%;
  text-align: center;
}

#javaScript {
  margin: auto;
  width: 50%;
 }

#javaScript:hover {
  font-size: 15px;
}

#webDesign {
  width: 50%;
 }

#webDesign:hover {
  font-size: 15px;
 }

#python {
  margin: auto;
  width: 50%;
 }

#python:hover {
  font-size: 15px;
}

#projects {
  width: 50%;
 }

#projects:hover {
  font-size: 15px;
 }

nav {
  width: 100%;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
}


@media only screen and (max-width : 600px) {
  .page-footer {
    margin-top: 200px;
    position: static;
  }
}


@media only screen and (max-width : 500px) {
#index-banner .section {
    top: 0;
}


#TODOTheme {
  display: none;
}

#footerBio {
  display: none;
}
#about {
  width: 100%;
  float: none;
}
#javaScript {
  margin: auto;
  width: 50%;
 }

#javaScript:hover {
  font-size: 15px;
}

#webDesign {
  width: 50%;
 }

#webDesign:hover {
  font-size: 15px;
 }

#python {
  margin: auto;
  width: 50%;
 }

#python:hover {
  font-size: 15px;
}

#projects {
  width: 50%;
 }

#projects:hover {
  font-size: 15px;
 }

nav {
  width: 100%;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.card-content.white-text {
  overflow: hidden;
}
#normalContainer {
  position: relative;
}

#femoLogo {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
}


.card .card-title {
  font-size: 14px;
}

.card .card-action {
  font-size: 12px;
}

}
