@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');


#wrapper {
  animation: fadein 1s;
}

 .container {
   background-color: #f2f2f2;
   display: flex;
   justify-content: center;
 }


 .copyrightcontainer {
   margin: 0 auto;
   max-width: 1280px;
   width: 90%;
   background-color: #e3e3e3;
 }

a {
  color: #fff;

}

#divider {
  width: 100%;
  height: 1px;
  background-color: #070707;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

body {
  background-image: url("helsingborg.jpg");
  background-color: #070707;
  animation: fadein 0s;
}


.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: #070707;
}


.completed {
  color: #17682a !important;
}

.inProgress {
  color: #d60404 !important;
}
.tabs.tabs-transparent .indicator {
  background-color: rgba(0, 0, 0, 0.5);
  animation: flashing 5s infinite;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);

}

#mobile-demo {
  background-color: rgba(255, 255, 255, 0.8);
}

.brand-logo a {
  margin: auto;
  width: 50%;
}

.linkContainer {
  display: block;
  width: 100%;
  height: 100%;
  color: #070707;
}

.linkContainer:hover {
  -webkit-text-stroke: 0.5px #070707;
  text-stroke: 0.5px #070707;
  color: #070707;
}


#tabsContainer {
  padding: 10px;
  display: block;
  position: relative;
  overflow: hidden;
  height: 20%;
  animation: fadein 1s;
}

#inProgressTabsContainer {
  display: none;
  padding: 10px;
  animation: fadein 1s;
}

 #javaScript a, #python a, #webDesign a, #projects a {
   color: #070707;
   display:block;
   width: 100%;
 }
#javaScript a:hover, #python a:hover, #webDesign a:hover, #projects a:hover {
  color: #fff;
 -webkit-text-stroke: 0.5px #070707;
  text-stroke: 0.5px #070707;
  display: block;
  width: 100%;
}

#javaScript:hover, #webDesign:hover, #python:hover, #projects:hover {
  transition-timing-function: ease-out;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  color: #fff;
  font-size: 40px;
  display: block;
  animation: fadein 0.5s;
}

#javaScript:active, #webDesign:active, #python:active, #projects:active {
  animation: clickFlash 1s cubic-bezier(.76,-0.02,.19,1.95);
}

#javaScript, #webDesign, #python, #projects {
  margin: auto;
  width: 20%;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  background-color:rgba(255, 255, 255, 0.3);
  padding: 40px;
  display: block;
  animation: fadeout 0.5s;
}


#javaScript:hover {
  background-image: url("interactive.jpg");
  background-position: -100px -50px;
  background-size: 600px;
}

@keyframes fadein {
  from { opacity: 0;}
  to { opacity: 1; }
}

@keyframes flashing {
  0% {
    background-color: #070707;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  }
  15% {
    background-color: rgba(255, 25, 212, 1);
    box-shadow: 0 0 3px 1px rgba(255, 25, 212, 0.5);
  }
  30% {
    background-color: rgba(150, 39, 129, 1);
    box-shadow: 0 0 3px 1px rgba(150, 39, 129, 0.5);
  }
  50% {
    background-color: #070707;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  }
  65% {
    background-color: rgba(0, 255, 203, 1);
    box-shadow: 0 0 3px 1px rgba(0, 255, 203, 0.5);
  }
  80% {
    background-color: rgba(42, 145, 124, 1);
    box-shadow: 0 0 3px 1px rgba(42, 145, 124, 0.5);
  }
  100% {
    background-color: #070707;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  }
}

@keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(1.1, 0.9)
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }
}

@keyframes clickFlash {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

#webDesign:hover {
  background-image: url("florence.jpg");
  background-position: -80px -160px;
 }

#python:hover {
  background-image: url("mrpython.png");
  background-position: 0px -160px;
}


#projects:hover {
  background-image: url("japan.jpg");
  background-size: 500px;
 }

.tab {
  width: 50%;
}

.cardlink {
  bottom: 50px;
}

nav ul a,
nav .brand-logo {
  color: #070707;
  margin: 0px;
  float: none;
  background-color: rgba(255, 255, 255, 0.0);
}

nav .brand-logo:hover {
  animation: jiggle 1s ease-in;
  animation-iteration-count: infinite;
}

nav {
  background-color: #f2f2f2;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

.page-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #070707;
    text-align: center;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
    clear: both;
    float: none;

}

.footer-copyright {
  color: #fff;
}

.white-text {
  color: #070707 !important;
}

.grey-text.text-lighten-4 {
  color: #070707 !important;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #070707;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

nav.nav-extended {
  height: inherit;
}


div.item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: #000000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

div.item * {
    box-sizing: border-box;
}

div.item img {
    max-width: 100%;
    vertical-align: top;
    height: 210px;
}

div.item i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: #000000;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
}

div.item a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    font-size: 35px;
    -webkit-text-stroke: 0.5px #070707;
    text-stroke: 0.5px #070707;
}

  div.item a:hover {
  transform: translateY(20px;)
}

div.item.blue {
    background-color: #34495e;
}
div.item.blue i {
    color: #34495e;
}

div.item:hover img {
    opacity: 0.3;
    filter: grayscale(100%);
}

div.item * {
    -webkit-transition: all 400ms cubic-bezier(.76,-0.02,.19,1.95);
    transition:         all 400ms cubic-bezier(.76,-0.02,.19,1.95);
}

div.item i {
  transform: translate(-50%, -50%) scale(0);
}
div.item:hover i {
    transform: translate(-50%, -50%) scale(1);
}

#animated {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    color: #070707;
    font-size: 30px;
    padding: 0px;
}

#animated:first-of-type {
    animation: showup 0.5s 1;
    animation-fill-mode: forwards;
}

#animated:last-of-type {
    animation: reveal 3s 1;
    animation-fill-mode: forwards;
}


@keyframes showup {
        0% {opacity:0;}
        20% {opacity:1;}
        80% {opacity:1;}
        100% {opacity:1}
}

@keyframes slidein {
        0% { margin-left:400px; }
        20% { margin-left:400px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}

@keyframes reveal {
        0% {opacity:0;width:0px;}
        80% {opacity:1;}
        100% {opacity:1;width:700px;}
}



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


@media only screen and (max-width : 900px) {
  #index-banner .section {
    top: 0;
  }


#TODOTheme {
  display: none;
}

#footerBio {
  display: none;
}

#normalContainer {
  overflow: scroll;
  width: 100%;
  height: 50%;
}

#javaScript {
  margin: auto;
  width: 50%;
 }

#javaScript:hover {
  font-size: 15px;
}

#webDesign {
  width: 50%;
 }

#webDesign:hover {
  font-size: 15px;
 }

#python {
  margin: auto;
  width: 50%;
 }

#python:hover {
  font-size: 15px;
}

#projects {
  width: 50%;
 }

#projects:hover {
  font-size: 15px;
 }

nav {
  width: 100%;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
}



@media only screen and (max-width : 500px) {
  #index-banner .section {
    top: 0;
  }


#TODOTheme {
  display: none;
}

#footerBio {
  display: none;
}
#about {
  width: 100%;
  float: none;
}
#javaScript {
  margin: auto;
  width: 50%;
 }

#javaScript:hover {
  font-size: 15px;
}

#webDesign {
  width: 50%;
 }

#webDesign:hover {
  font-size: 15px;
 }

#python {
  margin: auto;
  width: 50%;
 }

#python:hover {
  font-size: 15px;
}

#projects {
  width: 50%;
 }

#projects:hover {
  font-size: 15px;
 }

nav {
  width: 100%;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.page-footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #070707;
    text-align: center;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
    height: 100%;
    margin-top: 200px;
    clear: both;
}

.card-content.white-text {
  overflow: hidden;
}
#normalContainer {
  position: relative;
}

.card .card-title {
  font-size: 14px;
}

.card .card-action {
  font-size: 12px;
}
#animated {
    font-size: 10px;
}
@keyframes slidein {
        0% { margin-left:200px; }
        20% { margin-left:200px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}

@keyframes reveal {
        0% {opacity:0;width:0px;}
        80% {opacity:1;}
        100% {opacity:1;width:250px;}
}
}

@media only screen and (max-width : 360px) {
  #animated {
    font-size: 10px;
}
@keyframes slidein {
        0% { margin-left:200px; }
        20% { margin-left:200px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}

@keyframes reveal {
        0% {opacity:0;width:0px;}
        80% {opacity:1;}
        100% {opacity:1;width:200px;}
}
}

@media only screen and (max-width : 768px) {
  #animated {
    font-size: 20px;
}
@keyframes slidein {
        0% { margin-left:200px; }
        20% { margin-left:200px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}

@keyframes reveal {
        0% {opacity:0;width:0px;}
        80% {opacity:1;}
        100% {opacity:1;width:500px;}
}
}

@media only screen and (max-width : 1024px) {
  #animated {
    font-size: 24px;
}
@keyframes slidein {
        0% { margin-left:200px; }
        20% { margin-left:200px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}

@keyframes reveal {
        0% {opacity:0;width:0px;}
        80% {opacity:1;}
        100% {opacity:1;width:600px;}
}
}

@media only screen and (max-width : 414px) {
  #animated {
    font-size: 10px;
}
@keyframes slidein {
        0% { margin-left:200px; }
        20% { margin-left:200px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}
@keyframes reveal {
        0% {opacity:0;width:0px;}
        80% {opacity:1;}
        100% {opacity:1;width:250px;}
}
}

@media only screen and (max-width : 320px) {
  #animated {
    font-size: 10px;
}
@keyframes slidein {
        0% { margin-left:200px; }
        20% { margin-left:200px; }
        35% { margin-left:0px; }
        100% { margin-left:0px; }
}
@keyframes reveal {
        0% {opacity:0;width:0px;}
        80% {opacity:1;}
        100% {opacity:1;width:200px;}
}
}
