// Font
@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Thasadith');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$mainFont: 'Montserrat', sans-serif;

// Colors

$hardPink: #E91E63;
$hardPurple: #673AB7;
$hardPurpleDark: #320b86;

$softPink: #f48fb1;
$softPurple: #ce93d8;

$darkGreen: #0b8650;
$softGreen: #96f7cc;

$softBlue: #7fd2ff;
$darkBlue: #213264;
$mediumBlue: #4D9BF4;

$greyBlueDark: #2C5364;





$greyDark: #0F2027;
$greyMedium: #485460;
$greyLight: #9aa0a5;

$white: #ffffff;
$black: #000;

@keyframes arrowAnimation {
    0% {
        transform: scale(1.0)
    }
    50% {
        transform: scale(1.4)
    }
    100% {
        transform: scale(1.0)
    }
}

@keyframes secondaryImageOverlayIn {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes secondaryImageOverlayOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .revealer, .revealerAbout, .revealerSkills, .revealerProjects {
    position: relative;
    overflow: hidden;
    
    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      animation: secondaryImageOverlayIn 0.6s 0s, secondaryImageOverlayOut 0.6s 0.6s;
      animation-fill-mode: both;
    }
  }

  .revealerAbout {
      &::after {
        background-color: $hardPurple;
      }
  }

  .revealerSkills {
    &::after {
      background-color: $darkBlue;
    }
}

.revealerProjects {
  &::after {
    background-color: $hardPurple;
  }
}

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }