// Font
@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Thasadith');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Staatliches');

$fontMain: 'Quicksand', sans-serif;
$fontHeader: 'Staatliches', cursive;
$fontTest2: 'Rock Salt', cursive;

// Colors

$hardPink: #E91E63;
$hardPurple: #673AB7;
$hardPurpleDark: #320b86;

$softPink: #f48fb1;
$softPurple: #ce93d8;
$cyan: #4dd0e1;




$greyDark: #2C3A47;
$greyMedium: #485460;
$greyLight: #9aa0a5;

$white: #ffffff;
$black: #000;