<!DOCTYPE html>
<html>

<head>
    <title>Felix Morau</title>
    <meta charset="utf-8">
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body onload="siteLoader()">
    <div id="loader">
        <h1 class="felix">Felix</h1>
        <img id="logo" src="images/logo.png">
        <h1 class="morau">Morau</h1>
        <div id="splashBlur"></div>
    </div>
    <div id="app" class="fadeIn">
        <nav class="stickyMenu">
            <a class="navItem about" @click="about">About</a>
            <a class="navItem myProjects active" @click="myProjects">My Projects</a>
            <a class="navItem contact" @click="contact">Contact</a>
        </nav>
        <div id="sideBar" v-if="currentActive === 'myProjects'">
            <p>
                <i class="fab fa-js sidebarIcon" @click="scrollToTop" style="font-size: 40px;"></i>
            </p>
            <p>
                <i class="fab fa-css3-alt sidebarIcon" @click="scrollToWeb" style="font-size: 40px;"></i>
            </p>
            <p>
                <i class="fab fa-python sidebarIcon" @click="scrollToPython" style="font-size: 40px;"></i>
            </p>
            <p>
                <i class="fas fa-graduation-cap sidebarIcon" @click="scrollToUniversity" style="font-size: 30px;"></i>
            </p>
        </div>
        <div class="main">
            <h1 class="mainH1"> {{ currentH1 }} </h1>
            <transition name="fade">
                <div v-if="currentActive === 'about'">
                    <section class="introduction">
                        <p>My name is Felix Morau and I'm an 22 year old information architecture student at Malmö
                            University.</p>
                        <p>I made this website as a way to track my programming journey through university and beyond!
                            Make sure
                            to check out my "My Projects" to see what I've done and what I'm currently working on! </p>
                    </section>
                    <section class="mySkills">
                        <p>I'm proficient in Python, JavaScript, Photoshop and CSS! </p>
                        <i class="fab fa-python skills" style="font-size: 60px;"></i>
                        <i class="fab fa-js skills" style="font-size: 60px;"></i>
                        <i class="fas fa-file-powerpoint skills" style="font-size: 60px;"></i>
                        <i class="fab fa-css3 skills" style="font-size: 60px;"></i>
                    </section>
                </div>
            </transition>
            <transition name="fade">
                <section class="mainContent" v-if="currentActive === 'myProjects'">
                    <h3 class="projectH3">JavaScript</h3>
                    <div class="projectCards">
                        <br>
                        <ul v-for="project in javaScriptProjects">
                            <li>
                                <a v-bind:href="project.github">
                                    <div class="projectLiDiv" v-bind:style="{ 'background-image': 'url(' + project.image + ')' }">
                                        <p>
                                            <h3>
                                                <a v-bind:href="project.github"> {{ project.name }} </a>
                                            </h3>
                                            <h4>{{ project.language }}</h4>
                                            <p>{{ project.description }}</p>
                                            <a v-bind:href="project.github">
                                                <i class="fab fa-github" style="font-size: 50px;"></i>
                                            </a>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="projectH3">Web Design</h3>
                    <div class="projectCards">
                        <ul v-for="project in webProjects">
                            <li>
                                <a v-bind:href="project.github">
                                    <div class="projectLiDiv" v-bind:style="{ 'background-image': 'url(' + project.image + ')' }">
                                        <p>
                                            <h3>
                                                <a v-bind:href="project.github"> {{ project.name }} </a>
                                            </h3>
                                            <h4>{{ project.language }}</h4>
                                            <p>{{ project.description }}</p>
                                            <a v-bind:href="project.github">
                                                <i class="fab fa-github" style="font-size: 50px;"></i>
                                            </a>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="projectH3">Python</h3>
                    <div class="projectCards">
                        <ul v-for="project in pythonProjects">
                            <li>
                                <a v-bind:href="project.github">
                                    <div class="projectLiDiv" v-bind:style="{ 'background-image': 'url(' + project.image + ')' }">
                                        <p>
                                            <h3>
                                                <a v-bind:href="project.github"> {{ project.name }} </a>
                                            </h3>
                                            <h4>{{ project.language }}</h4>
                                            <p> {{ project.description }}</p>
                                            <a v-bind:href="project.github">
                                                <i class="fab fa-github" style="font-size: 50px;"></i>
                                            </a>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="projectH3">University</h3>
                    <div class="projectCards">
                        <ul v-for="project in universityProjects">
                            <li>
                                <a v-bind:href="project.github">
                                    <div class="projectLiDiv" v-bind:style="{ 'background-image': 'url(' + project.image + ')' }">
                                        <p>
                                            <h3>
                                                <a v-bind:href="project.github"> {{ project.name }} </a>
                                            </h3>
                                            <h4>{{ project.language }}</h4>
                                            <p>{{ project.description }}</p>
                                            <a v-bind:href="project.github">
                                                <i class="fab fa-github" style="font-size: 50px;"></i>
                                            </a>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </transition>
            <transition name="fade">
                <section class="mainContent" v-if="currentActive === 'contact'">
                    <a href="http://www.twitter.com/moraufelix">
                        <p>
                            <i class="fab fa-twitter contactIcon" style="font-size: 60px;"></i> @moraufelix</p>
                    </a>
                    <a href="http://www.github.com/femosc2">
                        <p>
                            <i class="fab fa-github contactIcon" style="font-size: 60px;"></i>FeMoSC2</p>
                    </a>
                    <a href="http://www.instagram.com/moraufelix">
                        <p>
                            <i class="fab fa-instagram contactIcon" style="font-size: 60px;"></i>moraufelix</p>
                    </a>
                    <a>
                        <p>
                            <i class="far fa-envelope contactIcon" style="font-size: 50px;"></i>felixmorau@gmail.com</p>
                    </a>
                </section>
            </transition>
        </div>
        <footer id="footer">
            <section>
                <p id="footerText">alpha</p>
            </section>
        </footer>
    </div>
    <script src="app.js"></script>
</body>

</html>