    
body {
    margin: 0 !important;
    padding: 0 !important;
    height: auto;
    background-color: #000;
}

html {
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth;
}