@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    font-family: 'Lato', sans-serif;
    animation: fadeIn 0.5s 1;
}

.app {
    display: flex;
}

.stickyMenu {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
    z-index: 500;
}

.navItem {
    display: inline-flex;
    width: 33%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    color: white;
    /*-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px); */
    height: 50px;
}

.projectLink {
    display: block;
    width: 100%;
}

.active {
    background-color: rgba(255,255,255, 0.7);
}

body {
    background-image: url("images/background.jpg");
}

.main {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0.4);
    width: 66%;
    margin: 0 auto;
    min-height: 800px;
    margin-top: 5%;

}

.mainH1 {
    text-align: center;
}

.mainH3 {
    text-align: center;
}

.projectLi {
    margin: 0 auto;
    text-align: center;
    list-style: none;
}

.projectLiDiv {
    margin: 0 auto;
    width: 70%;
    min-height: 150px;
    text-align: center;
    border-radius: 35px;
    background-position: center;
    transition: 0.2s;
}

.projectLiDiv h3,h4 {
    color: white;
}

.projectLiDiv p {
    color: white;
}

.projectLiDiv:not(:hover) {
    transition: 0.2s;
    filter: grayscale(100%);
}

i {
    color: #fff;
}

a {
    display: block;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s ease-out;
  }
  
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .blur {
      filter: blur(5px);
  }





@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes enlarge {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.3);
    }
}

