@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    font-family: 'Lato', sans-serif;
    animation: fadeIn 0.5s 1;
}

.app {
    display: flex;
}

.stickyMenu {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0, 0.6);
    z-index: 500;
}

h3 {
    text-align: center;
}

.navItem {
    display: inline-flex;
    width: 33%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: #fff;
    /*-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px); */
    height: 50px;
}

.projectLink {
    display: block;
    width: 100%;
}

.active {
    background-color: rgba(255,255,255, 0.7);
    transition: 0.5s;
}

body {
    background-color: #000f;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/background.jpg");
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}

.main {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.6);
    width: 66%;
    margin: 0 auto;
    min-height: 800px;
    margin-top: 5%;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.mainH1 {
    text-align: center;
}

.mainH3 {
    text-align: center;
}

.projectLi {
    margin: 0 auto;
    text-align: center;
    list-style: none;
}

.projectLiDiv {
    margin: 0 auto;
    width: 70%;
    min-height: 150px;
    text-align: center;
    border-radius: 35px;
    background-position: center;
    transition: 0.2s;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style: none;
}

.projectLiDiv h3,h4 {
    color: white;
    text-align: center;
}

.projectLiDiv p {
    color: white;
}

.projectLiDiv:not(:hover) {
    transition: 1s;
    filter: grayscale(100%);
}

.projectLiDiv:hover {
    transition: 1s;
    transform: scale(1.1);
    animation-fill-mode: forwards;
}

i {
    color: #fff;
}

a {
    display: block;
}

.divider {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    height: 2px;
    width: 100%;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s ease-out;
  }
  
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .blur {
      filter: blur(5px);
  }

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}